*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.connectBadge{
    position : absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
    opacity: 0.75;
}

.title{
    background-color: rgb(31, 31, 94);
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px 5px;
    text-align: center;
}

/*FORMULAIRE D'UPLOAD*/
.formUpload{
    display: flex;
    background-color: wheat;
}

.titleform{
    background: linear-gradient(195deg, #673AB7, #00BCD4);
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    z-index: 5;
}